#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  place-content: center;
  gap: 4rem;
}
.App > div {
  border: 2px solid black;
  padding: 1rem;
}
